<h1>Beheer berichten</h1>


<div class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<ul class="list-group">
				<div *ngFor="let message of myMessages">
					<a href="#"><li class="list-group-item clearfix">
						<div class="pull-left">
							<div>
								{{  message.datetime }}
							</div>
							<div>
								Latitude: {{ message.latitude }}
								<br>
								Longitude: {{ message.longitude }}
							</div>
						</div>
						<div class="pull-right">
							<button class="btn btn-primary">Verander zichtbaarheid</button>
							<button class="btn btn-danger">Verwijder</button>
						</div>
					</li></a>
				</div>
			</ul>
		</div>
	</div>
</div>
