<h1>Beheer berichten</h1>


<div class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<ul class="list-group">
				<div *ngFor="let message of myMessages | async">
					<a href="#"><li class="list-group-item clearfix">
						<div class="pull-left">
							<div>
								Latitude: {{ message.latitude }}
								<br>
								Longitude: {{ message.longitude }}
							</div>
						</div>
						<div class="pull-right">
							<button class="btn btn-danger">Verwijder</button>
						</div>
					</li></a>
				</div>
			</ul>
		</div>
		<h3 *ngIf="noMessages">Het lijkt er op dat je nog geen berichten hebt geplaatst!</h3>
	</div>
</div>
