<h1>Beheer berichten</h1>


<div class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<ul class="list-group">
				<div *ngFor="let message of myMessages | async">
				<a>	<li class="list-group-item clearfix">
						<div class="pull-left">
							<div>
								Latitude: {{ message.latitude }},
								
								Longitude: {{ message.longitude }}
							</div>
							Bericht: {{ message.content }}
						</div>
						<div class="pull-right">
							<button class="btn btn-danger" type="button" (click)="onDeletePost(message.id)">Verwijder</button>
						</div>
					</li></a>
				</div>
			</ul>
		</div>
	</div>
</div>