<div class="row">
	<div class="col-xs-2">
		<h4 class="list-group-item-header">{{ user }}</h4>
	</div>
	<div class="col-xs-10">
		<button class="btn btn-success pull-right" *ngIf="!checkUser(user); else alreadyFollowing" (click)="followUser(user)">Follow</button>
		<button class="btn btn-primary pull-right" (click)="showProfile()">Bekijk profiel</button>
	</div>
</div>
<div class="row" *ngIf="userShowed">
	<div class="pull-left" style="margin: 20px">
		<img [src]="userInfo.profilepicture" style="height: 150px; width: 150px; border-radius: 100%">
	</div>
	<div class="pull-right" style="margin: 20px">
		<div class="">
			<h6><b>{{ userInfo.firstname + " " + userInfo.lastname }}</b></h6><br>
					Geboortedatum: {{ userInfo.birthdate }}<br>
					Geslacht: {{ userInfo.gender }}<br>
					Woonplaats: {{ userInfo.habitation }}
		</div>
	</div>
</div>


<ng-template #alreadyFollowing>
	<button class="btn btn-primary pull-right" disabled="true">Al volgend</button>
</ng-template>
